In [ ]:
'''
There are 2 types of DateTime objects in Python:
1. Naive (no timezone awareness)
2. Time zine aware

-----
1. Convert Naive to Time zone aware datetime using tz_localize command 
tz_localize has to be assigned to a dataframe for it to work
2. Convert the above time in Berlin time zone using tz_convert
YOU CAN USE CONVERT AFTER LOCALIZE
3. tz='' value can be found out from :from pytz import all_timezones
4. you can apply tz_convert to the whole df or just the df.index
5. Using timezone in date_range fucntion
6. date_range can accept 2 types of timezones:
    =pytz, which has all predefined timezones
    =dateutil, whoch uses datetime available on your computer
7. Doing Arethemetics in Time series
    -create time series with random numbers
    -loicalize for berlin,
    -then for mumbai,
    - them sum both series - it will convert all of them to UTC 00:00 and do the aritnmetic for all the timepoints which got matched
'''

In [20]:
import pandas as pd
df = pd.read_csv('msft.csv', header=1, index_col='Date Time', parse_dates=True)
df

                     Price
Date Time
2017-08-17 09:00:00  72.38
2017-08-17 09:15:00  71.00
2017-08-17 09:30:00  71.67
2017-08-17 10:00:00  72.80
2017-08-17 10:30:00  73.00
2017-08-17 11:00:00  72.50

In [23]:
df.index # here values are naive, we will change it to US/Eastern

DatetimeIndex(['2017-08-17 09:00:00', '2017-08-17 09:15:00',
               '2017-08-17 09:30:00', '2017-08-17 10:00:00',
               '2017-08-17 10:30:00', '2017-08-17 11:00:00'],
              dtype='datetime64[ns]', name='Date Time', freq=None)

In [24]:
df.index = df.index.tz_localize(tz='US/Eastern') # now it is localized for US/Eastern
df.index

DatetimeIndex(['2017-08-17 09:00:00-04:00', '2017-08-17 09:15:00-04:00',
               '2017-08-17 09:30:00-04:00', '2017-08-17 10:00:00-04:00',
               '2017-08-17 10:30:00-04:00', '2017-08-17 11:00:00-04:00'],
              dtype='datetime64[ns, US/Eastern]', name='Date Time', freq=None)

In [36]:
df.index = df.index.tz_convert(tz='Europe/Berlin') # now US/Eastern is converted to Berlin
df.index

DatetimeIndex(['2017-08-17 15:00:00+02:00', '2017-08-17 15:15:00+02:00',
               '2017-08-17 15:30:00+02:00', '2017-08-17 16:00:00+02:00',
               '2017-08-17 16:30:00+02:00', '2017-08-17 17:00:00+02:00'],
              dtype='datetime64[ns, Europe/Berlin]', name='Date Time', freq=None)

In [31]:
from pytz import all_timezones

In [42]:
#5. Using timezone in date_range fucntion
rng = pd.date_range(start='1/5/2019',periods=10, freq='H', tz='dateutil/Asia/Calcutta')
rng

DatetimeIndex(['2019-01-05 00:00:00+05:30', '2019-01-05 01:00:00+05:30',
               '2019-01-05 02:00:00+05:30', '2019-01-05 03:00:00+05:30',
               '2019-01-05 04:00:00+05:30', '2019-01-05 05:00:00+05:30',
               '2019-01-05 06:00:00+05:30', '2019-01-05 07:00:00+05:30',
               '2019-01-05 08:00:00+05:30', '2019-01-05 09:00:00+05:30'],
              dtype='datetime64[ns, tzfile('Asia/Calcutta')]', freq='H')

In [70]:
'''
7. Doing Arethemetics in Time series
    -create time series with random numbers
    -loicalize for berlin,
    -then for mumbai,
    - them sum both series - 
it will convert all of them to UTC 00:00 and do the aritnmetic for all the timepoints which got matched
'''
rng = pd.date_range(start='1/5/2019',periods=10, freq='30min')
s = pd.Series(range(10), index=rng)
s

2019-01-05 00:00:00    0
2019-01-05 00:30:00    1
2019-01-05 01:00:00    2
2019-01-05 01:30:00    3
2019-01-05 02:00:00    4
2019-01-05 02:30:00    5
2019-01-05 03:00:00    6
2019-01-05 03:30:00    7
2019-01-05 04:00:00    8
2019-01-05 04:30:00    9
Freq: 30T, dtype: int64

In [71]:
b = s.tz_localize(tz='Europe/Berlin')
b

2019-01-05 00:00:00+01:00    0
2019-01-05 00:30:00+01:00    1
2019-01-05 01:00:00+01:00    2
2019-01-05 01:30:00+01:00    3
2019-01-05 02:00:00+01:00    4
2019-01-05 02:30:00+01:00    5
2019-01-05 03:00:00+01:00    6
2019-01-05 03:30:00+01:00    7
2019-01-05 04:00:00+01:00    8
2019-01-05 04:30:00+01:00    9
Freq: 30T, dtype: int64

In [72]:
m = s.tz_localize(tz='Asia/Calcutta')
m

2019-01-05 00:00:00+05:30    0
2019-01-05 00:30:00+05:30    1
2019-01-05 01:00:00+05:30    2
2019-01-05 01:30:00+05:30    3
2019-01-05 02:00:00+05:30    4
2019-01-05 02:30:00+05:30    5
2019-01-05 03:00:00+05:30    6
2019-01-05 03:30:00+05:30    7
2019-01-05 04:00:00+05:30    8
2019-01-05 04:30:00+05:30    9
Freq: 30T, dtype: int64

In [73]:
b + m

2019-01-04 18:30:00+00:00    NaN
2019-01-04 19:00:00+00:00    NaN
2019-01-04 19:30:00+00:00    NaN
2019-01-04 20:00:00+00:00    NaN
2019-01-04 20:30:00+00:00    NaN
2019-01-04 21:00:00+00:00    NaN
2019-01-04 21:30:00+00:00    NaN
2019-01-04 22:00:00+00:00    NaN
2019-01-04 22:30:00+00:00    NaN
2019-01-04 23:00:00+00:00    9.0
2019-01-04 23:30:00+00:00    NaN
2019-01-05 00:00:00+00:00    NaN
2019-01-05 00:30:00+00:00    NaN
2019-01-05 01:00:00+00:00    NaN
2019-01-05 01:30:00+00:00    NaN
2019-01-05 02:00:00+00:00    NaN
2019-01-05 02:30:00+00:00    NaN
2019-01-05 03:00:00+00:00    NaN
2019-01-05 03:30:00+00:00    NaN
Freq: 30T, dtype: float64