In [3]:
'''
Data is w/out dates, create datetime index 7/1/2017 to 7/21/2017
For US: we import class US Federal calender which is available for example on pandas tseries holiday. Step below:
    -classes to be imported:
        - from pandas holiday import us federal calender
        - from pandas offsets import custom business calender 
    - make a variable with custombusinesscaleneder with us federal calender
    - set it as index and use the variable as freq
   
For Custom Calender eg india, we can make one:
    - copy us federal holiday class and edit
    - 
    
    

Build custom business day freq 

'''
import pandas as pd
df = pd.read_csv('aapl_no_dates.csv')
df.head(5)

     Open    High     Low   Close    Volume
0  144.88  145.30  143.10  143.50  14277848
1  143.69  144.79  142.72  144.09  21569557
2  143.02  143.50  142.41  142.73  24128782
3  142.90  144.75  142.90  144.18  19201712
4  144.11  145.95  143.37  145.06  21090636

In [4]:
#if we use B as freq, it will not include holidays, stocks dont trade on holidays, so we use custom freq
pd.date_range(start='7/1/2017', end='7/21/2017', freq='B')

DatetimeIndex(['2017-07-03', '2017-07-04', '2017-07-05', '2017-07-06',
               '2017-07-07', '2017-07-10', '2017-07-11', '2017-07-12',
               '2017-07-13', '2017-07-14', '2017-07-17', '2017-07-18',
               '2017-07-19', '2017-07-20', '2017-07-21'],
              dtype='datetime64[ns]', freq='B')

In [18]:
#FOR US FEDERAL HOLIDAY CALENDER
#STEP1:
#to create a new freq, we use 2 classes from pandas and CREATE A VARIABLE wth custombusinessdays
from pandas.tseries.holiday import USFederalHolidayCalendar
from pandas.tseries.offsets import CustomBusinessDay

NewF = CustomBusinessDay(calendar=USFederalHolidayCalendar())

In [20]:
#STEP2:
#create a Range with Custom Freq
rng = pd.date_range(start='7/1/2017', end='7/21/2017', freq=NewF)
rng

DatetimeIndex(['2017-07-03', '2017-07-05', '2017-07-06', '2017-07-07',
               '2017-07-10', '2017-07-11', '2017-07-12', '2017-07-13',
               '2017-07-14', '2017-07-17', '2017-07-18', '2017-07-19',
               '2017-07-20', '2017-07-21'],
              dtype='datetime64[ns]', freq='C')

In [22]:
#STEP3:
#use rng with dataframe 
df = df.set_index(rng, inplace=True)
df

              Open    High     Low   Close    Volume
2017-07-03  144.88  145.30  143.10  143.50  14277848
2017-07-05  143.69  144.79  142.72  144.09  21569557
2017-07-06  143.02  143.50  142.41  142.73  24128782
2017-07-07  142.90  144.75  142.90  144.18  19201712
2017-07-10  144.11  145.95  143.37  145.06  21090636
2017-07-11  144.73  145.85  144.38  145.53  19781836
2017-07-12  145.87  146.18  144.82  145.74  24884478
2017-07-13  145.50  148.49  145.44  147.77  25199373
2017-07-14  147.97  149.33  147.33  149.04  20132061
2017-07-17  148.82  150.90  148.57  149.56  23793456
2017-07-18  149.20  150.13  148.67  150.08  17868792
2017-07-19  150.48  151.42  149.95  151.02  20922969
2017-07-20  151.50  151.74  150.19  150.34  17243748
2017-07-21  149.99  150.44  148.88  150.27  26252630

In [31]:
#CREATING CUSTOM HOLIDAY CALENDER
#STEP1: inport AbstractHolidayCalender from pandas
#Use it to create a holiday list
#Create a freq using the Class
from pandas.tseries.holiday import AbstractHolidayCalendar, Holiday, nearest_workday
class MyCustomMade(AbstractHolidayCalendar):
    rules = [
        Holiday('Happy Birthday', month=7, day=12, observance=nearest_workday)
    ]
Mcm = CustomBusinessDay(calendar=MyCustomMade())

In [35]:
#STEP2: Use freq created in a date range
rng = pd.date_range(start='7/1/2017', end='7/21/2017', freq=Mcm)
rng
#STEP3: set that date range as index in dataframe

DatetimeIndex(['2017-07-03', '2017-07-04', '2017-07-05', '2017-07-06',
               '2017-07-07', '2017-07-10', '2017-07-11', '2017-07-13',
               '2017-07-14', '2017-07-17', '2017-07-18', '2017-07-19',
               '2017-07-20', '2017-07-21'],
              dtype='datetime64[ns]', freq='C')

In [39]:
'''
For creating business days with Fri Sat as weekends. By default CustomBusinessClass has weekmask of m,t,w,t,f,s. 
We change that:
'''
n = CustomBusinessDay(weekmask='Sun Mon Tue Wed Thu')
rng = pd.date_range(start='7/1/2017', end='7/21/2017', freq=n)
rng

DatetimeIndex(['2017-07-02', '2017-07-03', '2017-07-04', '2017-07-05',
               '2017-07-06', '2017-07-09', '2017-07-10', '2017-07-11',
               '2017-07-12', '2017-07-13', '2017-07-16', '2017-07-17',
               '2017-07-18', '2017-07-19', '2017-07-20'],
              dtype='datetime64[ns]', freq='C')

In [46]:
#holidays argument can also be used in CustomBusinessDay as alist
n = CustomBusinessDay(weekmask='Sun Mon Tue Wed Thu', holidays=['2017-07-10', '2017-07-11'])
rng = pd.date_range(start='7/1/2017', end='7/21/2017', freq=n)
rng

DatetimeIndex(['2017-07-02', '2017-07-03', '2017-07-04', '2017-07-05',
               '2017-07-06', '2017-07-09', '2017-07-12', '2017-07-13',
               '2017-07-16', '2017-07-17', '2017-07-18', '2017-07-19',
               '2017-07-20'],
              dtype='datetime64[ns]', freq='C')