In [24]:
#CONVERTING DIFFERENT DATE FORMATS IN ONE
import pandas as pd
date = ['2017-01-05', 'Jan 5, 2017', '01/05/2017', '2017.01.05', '2017/01/05','20170105', 'abc'] 
#abc will give an error because to_datetime is set on default as errors='raise' 
date

['2017-01-05',
 'Jan 5, 2017',
 '01/05/2017',
 '2017.01.05',
 '2017/01/05',
 '20170105',
 'abc']

In [27]:
pd.to_datetime(date, errors='coerce') # errors at: coerce will give Not a Time Value, ignore will ignore it, and errors give errors

DatetimeIndex(['2017-01-05', '2017-01-05', '2017-01-05', '2017-01-05',
               '2017-01-05', '2017-01-05',        'NaT'],
              dtype='datetime64[ns]', freq=None)

In [20]:
pd.to_datetime('5/1/2017') # here to_datetime uses US format where Month is written first

Timestamp('2017-05-01 00:00:00')

In [21]:
pd.to_datetime('5/1/2017', dayfirst=True) #dayforst will put date first

Timestamp('2017-01-05 00:00:00')

In [23]:
pd.to_datetime('5/1/2017', format='%m/%d/%Y')

Timestamp('2017-05-01 00:00:00')

In [36]:
#Epoch & Unix Timestamp: it gives seconds, etc spent from the start of year till date
t = 1559209953
dt = pd.to_datetime([t], unit='s') #unit bydefault is nanoseconmds, we change it if we arre providing other units 
dt

DatetimeIndex(['2019-05-30 09:52:33'], dtype='datetime64[ns]', freq=None)

In [37]:
dt.view('int64')

array([1559209953000000000], dtype=int64)