In [2]:
# DIFFERENT WAYS OF CREATING A DATAFRAME, there are a lot of ways of creating one just google- pandas io.

# Way 1: Using CSV
import pandas as pd
df = pd.read_csv()
# Way 2: Using excel
df = read_excel('filename.xlsx', 'sheetname')

TypeError: parser_f() missing 1 required positional argument: 'filepath_or_buffer'

In [3]:
# Way 3: Using Dictionary
weather_data = {
    'day': ['1/1/2017','1/2/2017','1/3/2017'],
    'temperature': [32,35,28],
    'windspeed': [6,7,2],
    'event': ['Rain', 'Sunny', 'Snow']
}
df = pd.DataFrame(weather_data)
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

In [5]:

# Way 4: Using Tuples list
weather_data = [
    ('1/1/2017',32,6, 'Rain'),
    ('1/2/2017', 35,7,'Sunny'),
    ('1/3/2017',28,2, 'Snow'),
]
df = pd.DataFrame(weather_data, columns=['day','temperature','windspeed','event']) #column names are to be added seperately
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

In [12]:
# Way 5: Using a list of dictionaries
weather_data = [
    {'day' : '1/1/2017','temperature' : 32, 'windspeed' : 6, 'event' : 'Rain'},
    {'day' : '1/2/2017','temperature' : 35, 'windspeed' : 7, 'event' : 'Sunny'},
    {'day' : '1/3/2017','temperature' : 28, 'windspeed' : 2, 'event' : 'Snow'},
]
df = pd.DataFrame(weather_data)
df

        day  event  temperature  windspeed
0  1/1/2017   Rain           32          6
1  1/2/2017  Sunny           35          7
2  1/3/2017   Snow           28          2