In [14]:
'''
Data Science: is a process of analysing large set of datapoints and get answers related to that dataset.
Pandas is a python module that makes data sci easy and effective.

CSV file: is comma seperated values file which contains data.

Excel vs Python: When dataset become immense, excel becomes slow. Also excel lacks functionality.

Why use Pandas in Python?:  Even though with python we can do all the analyses but the code becomes very large. 
However in Pandas the same anlayses can be done with just a very few lines of code. It is very efficient and provides a lot
of functionalities.

DataFrame Object: is at the core of Pandas. It sort of looks like a table with rows and columns.
Eg:
'''
import pandas as pd
df = pd.read_csv('nyc_weather.csv')
df.head(10)

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,1/1/2016,38,23,52,30.03,10,8.0,0,5,NaN,281
1,1/2/2016,36,18,46,30.02,10,7.0,0,3,NaN,275
2,1/3/2016,40,21,47,29.86,10,8.0,0,1,NaN,277
3,1/4/2016,25,9,44,30.05,10,9.0,0,3,NaN,345
4,1/5/2016,20,-3,41,30.57,10,5.0,0,0,NaN,333
5,1/6/2016,33,4,35,30.50,10,4.0,0,0,NaN,259
6,1/7/2016,39,11,33,30.28,10,2.0,0,3,NaN,293
7,1/8/2016,39,29,64,30.20,10,4.0,0,8,NaN,79
8,1/9/2016,44,38,77,30.16,9,8.0,T,8,Rain,76
9,1/10/2016,50,46,71,29.59,4,NaN,1.8,7,Rain,109

In [7]:
df['Temperature'].max() # to select a column type column name in df['']

50

In [12]:
df['EST'][df['Events']=='Rain']

8      1/9/2016
9     1/10/2016
15    1/16/2016
26    1/27/2016
Name: EST, dtype: object

In [15]:
df['WindSpeedMPH'].mean()

6.892857142857143

In [33]:
'''
In the above calculated mean, NaN values were not considered. So in order to differently calculating the mean, we can 
fill the NaN values with 0. 

Data Munging and Data Wrangling: The process of cleaning the messy data.

Shift+Tab used to look up for documentations of functions.
'''
df.fillna(0, inplace=True) # inplace used to overwite the data, if not used dataframe will remain unchanged.
df['WindSpeedMPH'].mean()

6.225806451612903