In [ ]:
'''
Time Stamp: When each of the datapoint is associated with a time point. It is known as timestamp.
Time Span: When each of the datapoint is associated with a time Span.
-----------
Period:
#1 create time periods, yearly, Quatrtely, monthly, etc
#2 code for start and end of the periods
#3 add to the timeperiod normally or usinng offsets
#4 change quarter months
#5 convert one freq to another
#6 perform arithmetic between 2 periods
'''

In [242]:
# P1
import pandas as pd
y = pd.Period('2017', 'Y') #by default it is set to 'D', change for others
m = pd.Period('2017-May', 'M')
w = pd.Period('2017-May-01', 'W')
d = pd.Period('2017-May-01', 'D')
h = pd.Period('2017-May-01 01:00:00', 'H')

print(y)
print(m)
print(w)
print(d)
print(h)
# P2
print(y.start_time) 
print(y.end_time)

2017
2017-05
2017-05-01/2017-05-07
2017-05-01
2017-05-01 01:00
2017-01-01 00:00:00
2017-12-31 23:59:59.999999999

In [243]:
# P3
y+1
#or
h+pd.offsets.Hour(1) # Why does offsets dont work with Year, Month, etc?

Period('2017-05-01 02:00', 'H')

In [244]:
# P4
q = pd.Period('2017Q1', 'Q')
print(q.start_time)
print(q.end_time)
q1 = pd.Period('2017Q1', 'Q-JAN') # Q-JAN means Quarter ending January
print(q1.start_time)
print(q1.end_time)

2017-01-01 00:00:00
2017-03-31 23:59:59.999999999
2016-02-01 00:00:00
2016-04-30 23:59:59.999999999

In [245]:
# P5
m.asfreq('W', how='start') #how can be end as well

Period('2017-05-01/2017-05-07', 'W-SUN')

In [246]:
# P6
d = pd.Period('2017-May-01', 'D')
d2 = pd.Period('2017-May-30', 'D')
d2-d

In [247]:
'''
---------
PeriodIndex:
#1 similiar to date_range index, periods can also be used as index.
#2 find the star and end time of nth element in a period index
#3 create a series of random numbers with some periods as index
#4 from above series: 
    - retrieve for year 2011
    - retrieve for year 2011-2013
#5 convertt:
    - period index to datetime index using to_timestamp
    - datetime index to period index using to_period'''

'\n---------\nPeriodIndex:\n#1 similiar to date_range index, periods can also be used as index.\n#2 find the star and end time of nth element in a period index\n#3 create a series of random numbers with some periods as index\n#4 from above series: \n    - retrieve for year 2011\n    - retrieve for year 2011-2013\n#5 convertt:\n    - period index to datetime index using to_timestamp\n    - datetime index to period index using to_period'

In [248]:
# P1
idx = pd.period_range(start='2011', end='2017', freq='Q')
idx

PeriodIndex(['2011Q1', '2011Q2', '2011Q3', '2011Q4', '2012Q1', '2012Q2',
             '2012Q3', '2012Q4', '2013Q1', '2013Q2', '2013Q3', '2013Q4',
             '2014Q1', '2014Q2', '2014Q3', '2014Q4', '2015Q1', '2015Q2',
             '2015Q3', '2015Q4', '2016Q1', '2016Q2', '2016Q3', '2016Q4',
             '2017Q1'],
            dtype='period[Q-DEC]', freq='Q-DEC')

In [249]:
# P2
print(idx[0].start_time)
print(idx[0].end_time)

2011-01-01 00:00:00
2011-03-31 23:59:59.999999999

In [250]:
# P3, creating a series with random numberas and period index
import numpy as np
s = pd.Series(np.random.randn(len(idx)), idx)
s.head(5)

2011Q1    1.615890
2011Q2   -1.873136
2011Q3    0.573390
2011Q4    0.203156
2012Q1   -0.498286
Freq: Q-DEC, dtype: float64

In [251]:
s.asfreq('M').head(5) # Q Period series to M period series

2011-03    1.615890
2011-06   -1.873136
2011-09    0.573390
2011-12    0.203156
2012-03   -0.498286
Freq: M, dtype: float64

In [252]:
# P5
s['2011':'2012']

2011Q1    1.615890
2011Q2   -1.873136
2011Q3    0.573390
2011Q4    0.203156
2012Q1   -0.498286
2012Q2   -1.162323
2012Q3   -2.040551
2012Q4   -0.386279
Freq: Q-DEC, dtype: float64

In [253]:
# P6
sN = s.to_timestamp()
sN.head(5)

2011-01-01    1.615890
2011-04-01   -1.873136
2011-07-01    0.573390
2011-10-01    0.203156
2012-01-01   -0.498286
Freq: QS-OCT, dtype: float64

In [254]:
sNN = sN.to_period()
sNN.head(5)

2011Q1    1.615890
2011Q2   -1.873136
2011Q3    0.573390
2011Q4    0.203156
2012Q1   -0.498286
Freq: Q-DEC, dtype: float64

In [266]:
'''Practicle Example'''
df = pd.read_csv('wmt.csv')
df

  Line Item  2017Q1  2017Q2  2017Q3  2017Q4  2018Q1
0   Revenue  115904  120854  118179  130936  117542
1  Expenses   86544   89485   87484   97743   87688
2    Profit   29360   31369   30695   33193   29854

In [267]:
df.set_index('Line Item', inplace=True)
df

           2017Q1  2017Q2  2017Q3  2017Q4  2018Q1
Line Item
Revenue    115904  120854  118179  130936  117542
Expenses    86544   89485   87484   97743   87688
Profit      29360   31369   30695   33193   29854

In [268]:
df = df.T
df

Line Item  Revenue  Expenses  Profit
2017Q1      115904     86544   29360
2017Q2      120854     89485   31369
2017Q3      118179     87484   30695
2017Q4      130936     97743   33193
2018Q1      117542     87688   29854

In [269]:
df.index #since index is of type 'object', we need to change it to period index

Index(['2017Q1', '2017Q2', '2017Q3', '2017Q4', '2018Q1'], dtype='object')

In [270]:
df.index = pd.PeriodIndex(df.index, freq='Q-JAN') #index is changed to PeriodIndex
df.index

PeriodIndex(['2017Q1', '2017Q2', '2017Q3', '2017Q4', '2018Q1'], dtype='period[Q-JAN]', freq='Q-JAN')

In [271]:
df['Start Date'] = df.index.map(lambda x: x.start_time)
df

Line Item  Revenue  Expenses  Profit Start Date
2017Q1      115904     86544   29360 2016-02-01
2017Q2      120854     89485   31369 2016-05-01
2017Q3      118179     87484   30695 2016-08-01
2017Q4      130936     97743   33193 2016-11-01
2018Q1      117542     87688   29854 2017-02-01

In [272]:
df['End Date'] = df.index.map(lambda x: x.end_time) #why is it showing time in the end????
df

Line Item  Revenue  Expenses  Profit Start Date                      End Date
2017Q1      115904     86544   29360 2016-02-01 2016-04-30 23:59:59.999999999
2017Q2      120854     89485   31369 2016-05-01 2016-07-31 23:59:59.999999999
2017Q3      118179     87484   30695 2016-08-01 2016-10-31 23:59:59.999999999
2017Q4      130936     97743   33193 2016-11-01 2017-01-31 23:59:59.999999999
2018Q1      117542     87688   29854 2017-02-01 2017-04-30 23:59:59.999999999